//COLORS
$primary: #95b1ff;
$primary-400: #cddafd;
$primary-100: #dfe7fd;
$secondary: #ffb8bd;
$secondary-400: #ffdcde;
$secondary-100: #ffeeef;

$grey: #eae439;
$grey-400: #d4cfd4;
$grey-100: #c2bcc1;

$black: #0f121a;
$white: #ffffff;

//FONTS
$primary-font: 'Poppins', sans-serif;

//FONT WEIGHTS
$thin: 100;
$light: 200;
$regular: 400;
$bold: 700;
